.footer {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  margin: 3.5rem 0;
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .footer__icon {
    color: rgba(0, 0, 0, 0.3);
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }
  .footer__text {
    font-size: 0.7rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
  }
}
