$black: rgb(23, 23, 23);

// Red Color Chart
$red: #db281f;
$red-vintage: #d14047;
$grey-dark: #777777;
$grey: #bdbdbd;
$white: #fdfdfd;

// Border & Color
$border-main: 1px solid rgba(0, 0, 0, 0.1);
